<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Price list</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <div class="label-style">Type of ticket:</div>
                            <select >
                                <option *ngFor="let item of dataTicket" >{{item.name}}</option>
                              </select>
			    		</div>
			    		<div class="form-group">
                            <div class="label-style">Type of passanger:</div>
                            <select >
                                <option *ngFor="let item1 of dataUser" >{{item1.name}}</option>
                              </select>
                        </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Show">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>