<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Registration</h3>
			 	</div>
			  	<div class="panel-body">
                        <!-- [formGroup]="registerForm" -->
			    	<form [formGroup]="registerForm" (ngSubmit)="register()" enctype="multipart/form-data" accept-charset="UTF-8">
                    <fieldset>
                        <div class="form-group">
                            <div class="label-style">Name:</div>
                            <input class="form-control" placeholder="Enter your name" formControlName="Name" type="text" required>
                        </div>
                        <div class="form-group">
                            <div class="label-style">Surname:</div>
                            <input class="form-control" placeholder="Enter your surname" formControlName="Surname" type="text" required>
                        </div>
                        <div class="form-group">
                                <div class="label-style">Address:</div>
                                <input class="form-control" placeholder="Enter your address" formControlName="Address" type="text" required>
                        </div>
                        <div class="form-group">
                                <div class="label-style">Date of birth:</div>
                                <input class="form-control" placeholder="Enter your date of birth" formControlName="Birthday" type="datetime" required>
                            </div>
			    	  	<div class="form-group">
                            <div class="label-style">E-mail:</div>
			    		    <input class="form-control" placeholder="Enter your E-mail" formControlName="Email" type="email" required>
			    		</div>
			    		<div class="form-group">
                            <div class="label-style">Password:</div>
			    			<input class="form-control" placeholder="Enter your password" formControlName="Password" type="password" value="" required>
                        </div>
                        <div class="form-group">
                                <div class="label-style">Password confirm:</div>
                                <input class="form-control" placeholder="Enter your password" formControlName="ConfirmPassword" type="password" value="" required>
                        </div>
                        <div class="form-group">
                            <div class="label-style">You are:</div>
                            <div class="label-style">
                              <input (click)="hit()" type="radio" formControlName="PassengerType" value="1">&nbsp;Student
                              <input (click)="hit()" type="radio" formControlName="PassengerType" value="2">&nbsp;Pensioner
                              <input (click)="unHit()" type="radio" formControlName="PassengerType" value="3">&nbsp;Regular
                            </div>
                        </div>
                        <div class="form-group" *ngIf="canUpload">
                                <div class="label-style">Document:</div>
                                <div class="label-style">
                                    <label formControlName="Picture" for="filePicker">Choose or drag a file:</label><br>
                                    <input type="file" id="filePicker" (change)="handleFileSelect($event)">
                                    <img [src]="mySrc" />
                                </div>
                            </div>	
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Register">
                            
                        <br>
			    	    </fieldset>
                    </form>
                    <!-- <form (ngSubmit)="logout()" enctype="multipart/form-data">
<button type="submit"  [disabled]="!registerForm.valid">Register</button>
</form> -->
			    </div>
			</div>
		</div>
	</div>
</div>