<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Buy a ticket</h3>
			 	</div>
			  	<div class="panel-body">
			    	<!-- <form [formGroup]="ticketForm" (ngSubmit)="buyTicket()" accept-charset="UTF-8"> -->
                    <!-- <fieldset> -->
			    	  	<div class="form-group">
							<div class="label-style">Buy a time ticket: </div>
			    		    <!-- <input class="form-control" placeholder="Enter your E-mail" name="email" type="email"> -->
			    		</div>
			    		<!-- <div class="form-group">
							<div class="label-style">Password:</div>
			    		    <input class="form-control" placeholder="Enter your password" formControlName="Password" type="password" value="">
			    		</div> -->
                        <button class="btn btn-lg btn-success btn-block">Buy</button>
						<br>
						<div class="form-group">
							<div class="label-style">Buy a daily ticket: </div>
                        </div>
                        <button [disabled]="isUnregistrated" class="btn btn-lg btn-success btn-block">Buy</button>
                        <br>
                        <div class="form-group">
							<div class="label-style">Buy a monthly ticket: </div>
                        </div>
                        <button [disabled]="isUnregistrated" class="btn btn-lg btn-success btn-block">Buy</button>
                        <br>
                        <div class="form-group">
							<div class="label-style">Buy an annual ticket: </div>
						</div>
                        <button [disabled]="isUnregistrated" class="btn btn-lg btn-success btn-block">Buy</button>
			    	<!-- </fieldset>
			      	</form> -->
			    </div>
			</div>
		</div>
	</div>
</div>