body{
    background: url(http://mymaplist.com/img/parallax/back.png);
	background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.left-offset{
    padding-left:500px;
}

.right-offset-250{
    padding-right: 200px;
}

.left-offset-250{
    padding-left:200px;
}

.h3{
    color: white;
    align-content: center;
}

.panel-heading{
    color: white;
    align-content: center;
}

.label{
    color: white;
}

.label-style{
    font-size: 14;
    font-style: bold;
    color: white;
}

.table {
    color: white;
    background-color: #444;
}

p{
    color: rgb(255, 0, 0)0;
}