<br>
<div class="panel-heading">
  <h3 align="center" class="panel-title">Welcomw to JGSP web application!</h3>
  </div>
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <img src="assets/busstationa.png" width = "50" height="50" />
<img src="assets/busstationb.png" width = "50" height="50" /> -->
<div class="row left-offset-250">  
  <a href="/schedule" >
    <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on schedule menu"/>
  </a>
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  &nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
  <a href="/line-mesh" >
    <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on line mesh menu"/>
  </a>
</div>
<br>
<br>
<div class="row left-offset-250">  
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
  <a href="/price-list" >
    <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on price list menu"/>
  </a>
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    <a href="/bus-location" >
      <img src="assets/bus-icon.png" width = "250" height="250" title="Click on this icon go on bus location menu"/>
    </a>
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    <a href="/ticket" >
      <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on ticket menu"/>
    </a>
</div>
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
<a href="/login" >
  <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on login"/>
</a>
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;
<a href="/register" >
  <img src="assets/busicon.png" width = "80" height="80" title="Click on this icon go on register"/>
</a>
<br>
