<br>
<br>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/bus-location" >
    <img src="assets/bus-icon.png" width = "150" height="150" title="Click on this icon go on line mesh"/>
  </a>
  <br>
  <br>
  <br>
  <br>
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
    &nbsp;  &nbsp; &nbsp; &nbsp;
      <a href="/ticket">
        <img src="assets/ticket-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/>
      </a>
      <br>