<br><br>
<div class="row left-offset">  
    <div class="panel-heading">
        <h3 class="panel-title">Check validation of tickets</h3>
    <br>
    <div class="panel-body">
<form [formGroup]="validateTicket" (ngSubmit)="isValid()">
    <div>
        <div class="label-style">ID of ticket:</div>
        <input type="number" formControlName="idTicket" required>
    </div>
    <br>
    <button class="btn btn-lg btn-success btn-block" type="submit" >Check</button>     
    </form>
    <br>
    <div class="panel-heading">
            <h3 class="panel-title">{{message}}</h3>
        </div>
        </div>
        </div>