<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">JGSP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
          <i class="fa fa-home"></i>
          Home
          </a>
      </li>
      <!-- Registrovani korisnik -->
      <li *ngIf="isRegistrated" class="nav-item">
        <a class="nav-link" routerLink="/profile">
          <i class="fa fa-user">
          </i>
          Profile
        </a>
      </li>
      <li *ngIf="isRegistrated || isUnregistrated" class="nav-item">
        <a class="nav-link" routerLink="/schedule">
          <i class="fa fa-calendar">
          </i>
          Schedule
        </a>
      </li>
      <li *ngIf="isRegistrated || isUnregistrated" class="nav-item">
        <a class="nav-link" routerLink="/line-mesh">
          <i class="fa fa-bus">
          </i>
          Line mesh
        </a>
      </li>
      <li *ngIf="isRegistrated || isUnregistrated" class="nav-item">
        <a class="nav-link" routerLink="/bus-location">
          <i class="fa fa-globe">
          </i>
          Bus location
        </a>
      </li>
      <li *ngIf="isRegistrated || isUnregistrated" class="nav-item">
        <a class="nav-link" routerLink="/price-list">
          <i class="fa fa-file-text">
          </i>
          Price list
        </a>
      </li>
      <li *ngIf="isRegistrated || isUnregistrated" class="nav-item">
        <a class="nav-link" routerLink="/ticket">
          <i class="fa fa-ticket">
          </i>
          Tickets
        </a>
      </li>
      <!-- Kontroler -->
      <li *ngIf="isController" class="nav-item">
        <a class="nav-link" routerLink="/validate-profile">
          <i class="fa fa-users">
          </i>
          Validate profiles
        </a>
      </li>
      <li *ngIf="isController" class="nav-item">
        <a class="nav-link" routerLink="/validate-ticket">
          <i class="fa fa-ticket">
          </i>
          Validate tickets
        </a>
      </li>
      <!-- Admin -->
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin-schedule">
          <i class="fa fa-calendar">
          </i>
          Update schedule
        </a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin-line-mesh">
          <i class="fa fa-bus">
          </i>
          Update line mesh
        </a>
      </li>
      <li *ngIf="isAdmin" class="nav-item">
        <a class="nav-link" routerLink="/admin-price-list">
          <i class="fa fa-file-text">
          </i>
          Update price list
        </a>
      </li>
    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/login">Log In</button>
    &nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/register">Register</button>
    &nbsp;
        <button *ngIf="!isUnregistrated" class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/log-out">Log out</button>
  </div>
</nav>