<br><br>
<div class="row left-offset"> 
    <div class="panel-heading">
            <h3 class="panel-title">Line mesh</h3>
    </div>
</div>
<br>
<div class="row left-offset"> 
    <label style="font-size: 20px; color:white; font-weight: bold">&nbsp;&nbsp;&nbsp;Chose line:</label> 
    <label style="font-size: 20px; color:yellowgreen; background-color:darkslategrey; font-weight: bold" *ngFor="let line of lines">
    &nbsp;   
    <input style="font-size: 16px"
        (change)="lala(line)"
        type="checkbox">   {{line}}&nbsp;&nbsp;&nbsp;  
    </label>
</div>
<br>
<div align="center">
  <p>
    <!-- Kreiramo mapu -->
    <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker($event)">  
  
      <agm-marker [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [title]="markerInfo.title"
      [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl">
  
        <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
        <agm-info-window [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" >
  
          <!-- U info-window stavljamo html -->
          <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
          <br/>
          <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
          <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
          <a [href]="markerInfo.link">See the site.</a>
        </agm-info-window>
  
      </agm-marker>
  
      <agm-polyline [strokeColor]="polyline.color">
           <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
           </agm-polyline-point>
      </agm-polyline>
  
      <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
      </agm-marker>
  
    </agm-map>
  </p>
</div>
<br>