<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Profile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    &nbsp;
                    <img src="assets/approved-icon.png" width = "150" height="150" title="Verification profile status"/></h3>                 
                    <!-- <img *ngIf="process" src="assets/status-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/> -->

                    <!-- <img *ngIf="rejected" src="assets/reject-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/>

                    <img *ngIf="approved" src="assets/approved-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/> -->
			 	</div>
			  	<div class="panel-body">
			    	<form [formGroup]="updateUserForm" (ngSubmit)="update()" enctype="multipart/form-data" accept-charset="UTF-8">
                    <fieldset>
                            <div class="form-group">
                                    <div class="label-style">Verification profile status: {{status}}</div>
                                </div>
                        <div class="form-group">
                            <div class="label-style">Name:</div>
                            <input class="form-control" placeholder="Enter your name" formControlName="Name" type="text">
                        </div>
                        <div class="form-group">
                            <div class="label-style">Surname:</div>
                            <input class="form-control" placeholder="Enter your surname" formControlName="LastName" type="text">
                        </div>
                        <div class="form-group">
                                <div class="label-style">Address:</div>
                                <input class="form-control" placeholder="Enter your address" formControlName="Address" type="text">
                        </div>
                        <div class="form-group">
                                <div class="label-style">Date of birth:</div>
                                <!-- <input class="form-control" placeholder="Enter your date of birth" formControlName="BirthdayDate" type="datetime"> -->
                                <label class = "label-style">{{regUser.BirthdayDate | date}}</label>
                            </div>
			    	  	<div class="form-group">
                            <div class="label-style">E-mail:</div>
			    		    <!-- <input class="form-control" placeholder="Enter your E-mail" formControlName="Email" type="email"> -->
                            <label class="label-style">{{regUser.Email}}</label>
                        </div>

                        <div *ngIf="isRegular">
                                <div class="label-style">Edit/Upload document image:
                                    <input type="file" id="filePicker" (change)="handleFileSelect($event)">
                                </div>
                                <img [src]="mySrc" />
                            </div> 

                            <div class="label-style">Update/Add dockumetn image: <input type="file" id="filePicker" (change)="handleFileSelect($event)"></div>
                            <br>    
                                <img [src]="mySrc" height="350" width="350"/>
                            <br>
                            <br>
                        <button class="btn btn-lg btn-success btn-block" [disabled]="!updateUserForm.valid" type="submit">Update</button>
                           
                        <br>
                        <!-- <img src="assets/status-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/>

                        <img src="assets/reject-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/>

                        <img src="assets/approved-icon.png" width = "150" height="150" title="Click on this icon go on ticket menu"/> -->

			    	    </fieldset>
                    </form>
			    </div>
			</div>
		</div>
	</div>
</div>