<br><br>
<div class="row left-offset">  
	<div class="col-md-6 user-container">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Schedule</h3>
			 	</div>
			    	<form [formGroup]="ScheduleForm" (ngSubmit)="ScheduleShow()">
                    <fieldset>
			    	  	<div class="form-group">
                            <div class="label-style">Type of line:</div>
                            <select formControlName="line" (change)="typeSelected()" required class="form-control">
									<option *ngFor="let item1 of TypeLine" [value] = "item1.name">{{item1.name}}</option>
							</select>
			    		</div>
			    		<div class="form-group">
                            <div class="label-style">Type of day:</div>
                            <select formControlName="day" required class="form-control">
									<option *ngFor="let item2 of TypeDay" [value] = "item2.name">{{item2.name}}</option>
							</select>
                        </div>
                        <div class="form-group">
                            <div class="label-style" for="line">Number:</div>
                            <select formControlName="number" required class="form-control">
									<option *ngFor="let line of lines" [value]="line.Number">{{line.Number}}</option>
							</select>
			    		</div>
			    		<button type="submit" [disabled]="!ScheduleForm.valid" class="btn btn-lg btn-success btn-block">Show</button>
			    	</fieldset>
					  </form>
					  <br>
					  <table class="table table-striped" *ngIf="!empty">
						<thead>
						<tr>
						  <!-- <th class="hidden">Id</th> -->
						  <!-- <th>Number</th> -->
						  <th>Day</th>
						  <th>Time</th>
						</tr>
						</thead>
						<tbody>
						<tr>
						  <!-- <td class="hidden">{{scheduleLine.IDDay}}</td> -->
						  <!-- <td>{{item1.name}}</td> -->
						  <td *ngFor="let time of parser"><li>{{time}}</li></td>
						  <!-- <td>{{item2.name}}</td> -->
						</tr>
						</tbody>
					  </table>
					  <label class = "label-style-message" *ngIf="empty">{{message}}</label>
			    </div>
			</div>